<div #scroll></div>
<div class="main-content" *ngIf="!showForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
              <!-- Menu:  -->
              <mat-form-field >
                  <mat-label>Select Restaurant</mat-label>
                  <mat-select (selectionChange)="getMenuByRestId(restId)"  [(value)]="restId" >
                    <!-- <mat-option value="all" >All restaurants</mat-option> -->
                    <mat-option *ngFor="let rest of restaurants | async" [value]="rest.id">
                      {{rest.name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

            <div class="col-md-4" *ngIf="(menus | async)">
                <!-- Menu:  -->
                <mat-form-field >
                    <mat-label>Select Menu</mat-label>
                    <mat-select (selectionChange)="getDishesByMenuId(menuId)"  [(value)]="menuId" >
                      <!-- <mat-option value="all" >All dishes</mat-option> -->
                      <mat-option *ngFor="let menu of menus | async" [value]="menu.id">
                        {{menu.name.en}}/{{menu.name.es}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">

                <a class="link-custom" style="float: right; margin-top:-45px; margin-right: 20px;" title="Menus" [routerLink]="'/admin/menus'">
                    Menus <i class="material-icons" >undo</i>
                </a>
                <div [@animate] = "(dishes | async)" class="card">
                    <div class="card-header card-header-theme">
                        <h4 class="card-title mt-0">Dishes 
                            <a (click)="new();" class="link-white" title="Add" [routerLink]="">
                              <i class="material-icons" >add</i>
                            </a>
                        </h4>
                        <mat-form-field class="search2 card-title mt-0">
                          <input type="text" #queryString matInput class="search" placeholder="Search" >
                        </mat-form-field>  
                        <p class="card-category"> Availables dishes for menu <span *ngIf="menu" style="font-weight: bold;">{{menu.name.es}}/{{menu.name.en}} </span> </p>
                    </div>
                    <div class="card-body">
                      <ngx-spinner [fullScreen]="false" type="ball-scale-multiple" size="medium"></ngx-spinner>
                         <div style="min-height: 550px;"  class="table-responsive">
                            <table class="table table-hover">
                              <caption></caption>
                                <thead class="">
                                    <th style="text-align: center;">Order</th>
                                    <th>Ref.</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price $</th>
                                    <th>Picture</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <tr [@animate]="dish" *ngFor="let dish of dishes | async | filter: {search: queryString.value} | paginate: config "> 
                                        <td style="text-align: center;">
                                            {{dish.order}}
                                        </td>
                                        <td>
                                          {{dish.ref}}
                                        </td>
                                        <td>
                                            {{dish.name.es}} <br>
                                            {{dish.name.en}}
                                        </td>
                                        <td style="width: 50%;">
                                            {{dish.description.es}} <br>
                                            {{dish.description.en}}
                                        </td>
                                        <td>{{dish.price}}</td>
                                        <td>
                                           <img alt="" class="rounded-circle" height="50px" src="{{dish.photoPF}}">
                                        </td>
                                        <td class="actions"> 
                                            <a (click)="changeStatus(dish.id, dish.status)" [routerLink]="" [title]="!dish.status ? 'Active' : 'Desactive'">
                                              <i class="material-icons">{{!dish.status ? 'check': 'power_settings_new'}}</i>
                                            </a>
                                            <a (click)="edit(dish.id)" title="Edit" [routerLink]=""><i class="material-icons" >edit</i></a>
                                            <a (click)="delete(dish.id)" class="link-danger" title="Delete" [routerLink]=""><i class="material-icons" >delete</i></a>
                                        </td>  
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls style="text-align: center;" (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content" *ngIf="showForm">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-8">
                <div [@animate] class="card flip" >
                    <div class="card-header card-header-theme">
                        <h4 class="card-title">Dish</h4>
                        <p class="card-category">Complete data for the dish</p>
                    </div>
                    <div class="card-body">
                      <ngx-spinner [fullScreen]="false" type="ball-scale-multiple" size="medium"></ngx-spinner>
                        <form (keypress)="onChanges()" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                           <div class="row">
                            <input hidden #id formControlName= "id" >
                                <div class="col-md-6">
                                    <mat-form-field >
                                      <mat-label>Select Restaurant</mat-label>
                                      <mat-select (selectionChange)="getMenuByRestId(restId)"  [(value)]="restId" >
                                        <mat-option value="all" >All restaurants</mat-option>
                                        <mat-option *ngFor="let rest of restaurants | async" [value]="rest.id">
                                          {{rest.name}}
                                        </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Select a menu</mat-label>
                                        <mat-select #menuId formControlName= "menuId"  >
                                          <mat-option *ngFor="let menu of menus | async" [value]="menu.id">
                                            {{menu.name.en}}/{{menu.name.es}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>

                                  
                              </div>

                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input min="1" type="number" matInput #order formControlName= "order" placeholder="Order">
                                  </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input type="text" matInput #ref formControlName= "ref" placeholder="Ref.">
                                  </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input type="number" matInput #price required formControlName= "price" placeholder="Price">
                                      <mat-error>Required</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="row">

                                  <div class="col-md-6" formGroupName = "name">
                                      <mat-form-field class="example-full-width">
                                        <input matInput #nameEs required formControlName= "es" placeholder="Nombre">
                                        <mat-error>Required</mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6" formGroupName = "name">
                                      <mat-form-field class="example-full-width">
                                        <input matInput #nameEn required formControlName= "en" placeholder="Name">
                                        <mat-error>Required</mat-error>
                                      </mat-form-field>
                                  </div>

                            </div>


                            <div class="row">
                              <div class="col-md-6" formGroupName = "description">
                                  <mat-form-field class="example-full-width">
                                    <textarea rows="3" matInput #descriptionEs formControlName= "es" placeholder="Descripción"></textarea>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6" formGroupName = "description">
                                  <mat-form-field class="example-full-width">
                                    <textarea rows="3" matInput #descriptionEn formControlName= "en" placeholder="Description"></textarea>
                                  </mat-form-field>
                              </div>
                          </div>
              
                              <div class="row">
                                <div class="col-md-6">
                                  <label>Photo</label>
                                  <div class="example-full-width">
                                    <input class="file-input" type="file" #file formControlName="filePF" (change)="fileChangeEvent($event, 'profile')">
                                  </div>
                                  <image-cropper
                                  [imageChangedEvent]="imageChangedEventPF"
                                  [maintainAspectRatio]="true"
                                  [roundCropper]="false"
                                  [aspectRatio]="1 / 1"
                                  format="webp"
                                  [imageQuality] = "20"
                                  (imageCropped)="imageCropped($event, 'profile')"
                                  (imageLoaded)="imageLoaded()"
                                  (cropperReady)="cropperReady()"
                                  (loadImageFailed)="loadImageFailed()"
                                  ></image-cropper>
                                  <img *ngIf="!croppedImagePF" alt="" [src]="photoPF" class="img-thumbnail" style="width: auto; height: auto;">
                                </div>
                                <div class="col-md-6">
                                  <label>Background</label>
                                  <div class="example-full-width">
                                    <input class="file-input" type="file" #file formControlName="fileBG" (change)="fileChangeEvent($event, 'background')">
                                  </div>
                                  <image-cropper
                                  [imageChangedEvent]="imageChangedEventBG"
                                  [maintainAspectRatio]="false"
                                  [roundCropper]="false"
                                  [aspectRatio]="1 / 1"
                                  format="webp"
                                  [imageQuality] = "20"
                                  (imageCropped)="imageCropped($event, 'background')"
                                  (imageLoaded)="imageLoaded()"
                                  (cropperReady)="cropperReady()"
                                  (loadImageFailed)="loadImageFailed()"
                                  ></image-cropper>
                                  <img *ngIf="!croppedImageBG" alt="" [src]="photoBG" class="img-thumbnail" style="width: auto; height: auto;">
                              </div>
                             
                              </div>
                              <hr>
                              Active: <input (click)="onChanges()" type="checkbox" #status formControlName= "status" >
                              <span style="float: right;margin-right: 5px;margin-top: -3px">*Required</span><br>
                            <button mat-raised-button (click)="scrollDiv(scroll)" [disabled]="!form.valid" type="submit" class="btn btn-danger pull-right">Save</button>
                            <button (click) = "showForm=!showForm; reset()" mat-raised-button type="button" class="btn btn-link pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- es -->
        <div class="col-md-4">
            <p>View</p>
            <app-dish-card-item-large
            [lang]="lang" 
            [item]="item"
            ></app-dish-card-item-large>
            <!-- <p>In Cart</p>
            <app-dish-card-item-medium
            [lang]="lang" 
            [item]="item"
            ></app-dish-card-item-medium> -->
            
        </div>
    </div>
  </div>
