<div class="main-content">
    <div class="container-fluid top">
        <div class="row">
            <div class="col-md-6 mx-auto">
            <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                <div [@animate] class="card">
                    <div class="card-header card-header-brown">
                        <h4 *ngIf="qrResultString==null" class="card-title mt-0 text-yellow">Home</h4>
                        <h4 *ngIf="qrResultString" class="card-title mt-0 text-yellow">Order: {{orderIdShort}}</h4>
                    </div>
                    <div class="card-body menu">
                        <h6 style="font-size: small; font-family: Arial, Helvetica, sans-serif;" class="text-center" *ngIf="!show && qrResultString==null">Selecciona la mesa</h6>
                        <h6 style="font-size: small; font-family: Arial, Helvetica, sans-serif;" class="text-center" *ngIf="show">Escanee el código QR para la mesa <strong>{{tableSelect}}</strong></h6>
                        <h6 style="font-size: small; font-family: Arial, Helvetica, sans-serif;" class="text-center" *ngIf="!show && qrResultString!=null">Mesa <strong>{{tableSelect}}</strong></h6>
                        <zxing-scanner
                         *ngIf="show" 
                         [enable]="show"
                         (scanSuccess)="onCodeResult($event, tableSelect)"
                         ></zxing-scanner>
                        
                        <app-card-item  *ngFor="let item of items"
                        [item]="item"
                        ></app-card-item>

                        <!-- <section class="results" *ngIf="qrResultString">
                        <div>
                            <small>Result</small>
                            <strong>{{ qrResultString }}</strong>
                            {{order | json}}
                        </div>
                        <button mat-icon-button (click)="clearResult()">&times;</button>
                        </section> -->
                        <input *ngIf="show" (click)="scanQR(0)"  type="button" class="btn btn-danger btn-link btn-lg" value="Cancelar">
                        <input *ngIf="qrResultString" (click)="changeStatus(); clearResult()"  type="button" class="btn btn-danger btn-link btn-lg" value="Ok">
                        <div class="text-center" *ngIf="!show && qrResultString==null">
                        <input 
                        style="width: 30%;"
                        *ngFor="let table of arrayN(); let i = index"
                        (click)="scanQR(i+1)"  type="button" class="btn btn-danger btn-link btn-lg" 
                        value="{{i+1}}">
                        </div>
                    </div>
                   
                </div>
            </div>
    </div>
</div>

  