.card{
    background-color: ghostwhite;
    max-height: 570px;
}

.menu{
    background-color: ghostwhite;
    /* max-height: 570px; */
    max-height: -moz-calc(100vh - 170px);
    max-height: -webkit-calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}