<div [@flip] class="card card-profile top">
    <div class="card-avatar">
        <a href="javascript:void(0)" >
            <img [alt]="logo" class="img" [src]="logo || './assets/img/logo.png'" />
        </a>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{textTitle || 'Welcome'}}</h4>
        <p class="card-description">
           {{textDescription}}
        </p> 
        <input [routerLink]="route" type="button" class="btn btn-danger btn-link btn-lg" [value]="textButton || 'Menu'">
    </div>
    <hr style="width: 90%; margin:0 auto">
    <div class="card-footer" style="margin: 0 auto; padding: 10px">
        <a *ngIf="instagram" [href]="urlIg" target="_blank" class="text-muted">
            <i class="fa fa-instagram mr-4">&nbsp;{{instagram}}</i>
        </a>
        <a *ngIf="whatsapp" [href]="urlWa" target="_blank" class="text-muted">
            <i class="fa fa-whatsapp">&nbsp;{{whatsapp | phone}}</i>
        </a>
    </div>
</div>