.card-title, .media-body h4{
    text-transform: uppercase;
    margin: 0px;
}

.card-body{
    margin: 15px !important;
    padding: 0;
}

.disabled{
    cursor: not-allowed;
}

.enabled{
    cursor: pointer;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    font-weight: 600;
}

.badge{
    position: absolute;
    top: -4px;
    left: 82px;
    background-color: blue;
    color: white;
    border-radius: 60%;
 }

 .badge-en{
    position: absolute;
    top: -4px;
    left: 45px;
    background-color: blue;
    color: white;
    border-radius: 60%;
 }

 .less{
    left: 75%;
    position: absolute;
    bottom: 27px;
    height: 36px;
    width: 36px;
}
.less2{
    position: absolute;
    left: 68%;
    margin-top: 3px;
    height: 36px;
    width: 36px;
}
.plus{
    left: 85%;
    position: absolute;
    bottom: 27px;
    height: 36px;
    width: 36px;
}
.btn-icon{
    height: 36px;
    width: 36px;
}
.plus2{
    position: absolute;
    left: 86%;
    margin-top: 3px;
    height: 36px;
    width: 36px;
}

.qty{
    color: black;
    /* margin-left: 36px; */
    left: 80%;
    position: absolute;
    bottom: 27px;
}

.qty2{
    position: absolute;
    left: 81%;
    margin-top: 2px;
    color: black;
}

.btn2m{
    margin: -14px 0px 0px -3px;
    position: absolute;
}
.btn2p{
    margin: -14px 0px 0px -5px;
    position: absolute;
}
