<!-- es -->
<div *ngIf="lang=='es'">
    <div [@flip] class="card card-profile">
        <div class="image">
            <img style="filter:brightness(0.85)" src="{{item.data.photoBG}}" alt="..."/>
            <div (click)="lang = 'en'" title="English" class="top-right">
                <img src="./assets/img/icons8-usa-48.png" class="flag"/>
            </div>
        </div>
        <div class="card-avatar">
            <a href="javascript:void(0)" (click)="open(item.data.name.es, item.data.photoPF)">
                <img class="img" src="{{item.data.photoPF}}" />
            </a>
        </div>
        <div class="card-body">
            <h6 *ngIf="ref" class="card-category text-gray">{{item.data.ref}}</h6>
            <h4 class="card-title">{{item.data.name.es}}</h4>
            <p class="card-description">
            {{item.data.description.es}}
            </p> 
            <p class="card-description text-success">{{item.data.price}}$</p>
            <p class="text-danger" *ngIf="!item.data.status">Agotado</p>
            <!-- <a *ngIf="inCart" (click)="remove(item)" [ngClass]="!item.data.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">Quitar</a>
            <a (click)="addToCart()" [ngClass]="!item.data.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">
                Agregar<span *ngIf="productExistInCart.qty>0" class="badge badge-light">{{productExistInCart.qty}}</span>
            </a>       -->
             <button [disabled]="productExistInCart.qty<=0" href="javascript:void(0)"  style="margin-top: -10px;" (click)="addToCart(-1)" class="btn-icon btn btn-danger btn-round float" type="button"><span class="btn2m">-</span></button>
             <a style="width: 30px;height: 5px;" class="" id="more"><span style="font-size: x-large;margin-left: 10px;margin-right: 10px; margin-top: -5px;">{{productExistInCart.qty}}</span></a>
             <button [disabled]="!item.data.status" style="margin-top: -10px; margin-right: 10px;" (click)="addToCart(1)" class="btn-icon btn btn-danger btn-round " type="button" ><span class="btn2p">+</span></button>


        </div>
    </div>
</div>
<!-- es -->
<!-- en -->
<div *ngIf="lang=='en'">
    <div [@flip] class="card card-profile" >
        <div class="image">
        <img style="filter:brightness(0.85)" src="{{item.data.photoBG}}" alt="..."/>
        <div (click)="lang = 'es'" title="Español" class="top-right">
            <img src="./assets/img/icons8-venezuela-48.png" class="flag"/>
        </div>
        </div>
        <div class="card-avatar">
            <a href="javascript:void(0)" (click)="open(item.data.name.en, item.data.photoPF)">
                <img class="img" src="{{item.data.photoPF}}" />
            </a>
        </div>
        
        <div class="card-body">
            <h6 *ngIf="ref" class="card-category text-gray">{{item.data.ref}}</h6>
            <h4 class="card-title">{{item.data.name.en}}</h4>
            <p class="card-description">
            {{item.data.description.en}}
            </p> 
            <p class="card-description text-success">{{item.data.price}}$</p>
            <p class="text-danger" *ngIf="!item.data.status">No Stock</p>
            <!-- <a *ngIf="inCart" (click)="remove(item)" [ngClass]="!item.data.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">Remove</a>
            <a (click)="addToCart()" [ngClass]="!item.data.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">
                Add<span *ngIf="productExistInCart.qty>0" class="badge badge-en badge-light">{{productExistInCart.qty}}</span>
            </a>     -->
            <button [disabled]="productExistInCart.qty<=0" href="javascript:void(0)"  style="margin-top: -10px;" (click)="addToCart(-1)" class="btn-icon btn btn-danger btn-round float" type="button"><span class="btn2m">-</span></button>
            <a style="width: 30px;height: 5px;" class="" id="more"><span style="font-size: x-large;margin-left: 10px;margin-right: 10px; margin-top: -5px;">{{productExistInCart.qty}}</span></a>
            <button [disabled]="!item.data.status" style="margin-top: -10px; margin-right: 10px;" (click)="addToCart(1)" class="btn-icon btn btn-danger btn-round " type="button" ><span class="btn2p">+</span></button>

        </div>
    </div>
</div>
<!-- en -->
