<!-- es -->
<div *ngIf="lang=='es'">
    <div [@flip] class="card card-profile">
        <div class="image">
            <img style="filter:brightness(0.85)" src="{{item.photoBG}}" alt="..."/>
            <div (click)="lang = 'en'" title="English" class="top-right">
                <img alt="" src="./assets/img/icons8-usa-48.png" class="flag"/>
            </div>
        </div>
        <div class="card-avatar">
            <a href="javascript:void(0)" (click)="open(item.name.es, item.photoPF)">
                <img alt="" class="img" src="{{item.photoPF}}" />
            </a>
        </div>
        <div class="card-body">
            <h6 *ngIf="ref" class="card-category text-gray">{{item.ref}}</h6>
            <h4 class="card-title">{{item.name.es || 'Nombre'}}</h4>
            <p class="card-description">
            {{item.description.es || 'Descripción'}}
            </p> 
            <p class="card-description text-success">${{item.price || '100'}}</p>
            <div class="card-footer" *ngIf="!item.status">
                <div class="stats" style="margin: 0 auto">
                    <span><i class="material-icons">warning</i> Agotado</span>
                </div>
            </div>
            <!-- <p class="text-danger" *ngIf="!item.status">Agotado</p> -->
            <!-- <a *ngIf="inCart" (click)="remove(item)" [ngClass]="!item.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">Quitar</a>
            <a (click)="addToCart()" [ngClass]="!item.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">
                Agregar<span *ngIf="productExistInCart.qty>0" class="badge badge-light">{{productExistInCart.qty}}</span>
            </a>       -->
             <!-- <button [disabled]="productExistInCart.qty<=0" href="javascript:void(0)"  style="margin-top: -10px;" (click)="addToCart(-1)" class="btn-icon btn btn-danger btn-round float" type="button"><span class="btn2m">-</span></button>
             <a style="width: 30px;height: 5px;" class="" id="more"><span style="font-size: x-large;margin-left: 10px;margin-right: 10px; margin-top: -5px;">{{productExistInCart.qty}}</span></a>
             <button [disabled]="!item.status" style="margin-top: -10px; margin-right: 10px;" (click)="addToCart(1)" class="btn-icon btn btn-danger btn-round " type="button" ><span class="btn2p">+</span></button> -->


        </div>
    </div>
</div>
<!-- es -->
<!-- en -->
<div *ngIf="lang=='en'">
    <div [@flip] class="card card-profile" >
        <div class="image">
        <img style="filter:brightness(0.85)" src="{{item.photoBG}}" alt="..."/>
        <div (click)="lang = 'es'" title="Español" class="top-right">
            <img alt="" src="./assets/img/icons8-venezuela-48.png" class="flag"/>
        </div>
        </div>
        <div class="card-avatar">
            <a href="javascript:void(0)" (click)="open(item.name.en, item.photoPF)">
                <img alt="" class="img" src="{{item.photoPF}}" />
            </a>
        </div>
        
        <div class="card-body">
            <h6 *ngIf="ref" class="card-category text-gray">{{item.ref}}</h6>
            <h4 class="card-title">{{item.name.en || 'Name'}}</h4>
            <p class="card-description">
            {{item.description.en || 'Description'}}
            </p> 
            <p class="card-description text-success">${{item.price || '100'}}</p>
            <div class="card-footer" *ngIf="!item.status">
                <div class="stats"  style="margin: 0 auto">
                    <span><i class="material-icons">warning</i> Unavailable</span>
                </div>
            </div>
            <!-- <p class="text-danger" *ngIf="!item.status">No Stock</p> -->
            <!-- <a *ngIf="inCart" (click)="remove(item)" [ngClass]="!item.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">Remove</a>
            <a (click)="addToCart()" [ngClass]="!item.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">
                Add<span *ngIf="productExistInCart.qty>0" class="badge badge-en badge-light">{{productExistInCart.qty}}</span>
            </a>     -->
            <!-- <button [disabled]="productExistInCart.qty<=0" href="javascript:void(0)"  style="margin-top: -10px;" (click)="addToCart(-1)" class="btn-icon btn btn-danger btn-round float" type="button"><span class="btn2m">-</span></button>
            <a style="width: 30px;height: 5px;" class="" id="more"><span style="font-size: x-large;margin-left: 10px;margin-right: 10px; margin-top: -5px;">{{productExistInCart.qty}}</span></a>
            <button [disabled]="!item.status" style="margin-top: -10px; margin-right: 10px;" (click)="addToCart(1)" class="btn-icon btn btn-danger btn-round " type="button" ><span class="btn2p">+</span></button> -->

        </div>
    </div>
</div>
<!-- en -->
