<div *ngIf="lang=='es'"> 
      <div [@flip] class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div (click)="lang = 'en'; $event.stopPropagation();" title="English" class="top-right2">
            <img src="./assets/img/icons8-usa-48.png" style="height: 30px; margin-top: -4px;margin-right: -6px;"/>
          </div>
          <img src="{{item.data.photoPF}}" (click)="open(item.data.name.es, item.data.photoPF); $event.stopPropagation();" class="card-icon-2 " style="width:70px; height: 70px;">
          <div class="card-body" [ngClass]="!item.data.status? 'disabled':'enabled'" >
            <p class="card-category">{{item.data.description.es}}</p>
            <h3 class="card-title">{{item.data.name.es}}</h3>
          </div>
        </div>
        <div class="card-footer" *ngIf="!item.data.status">
            <div class="stats">
                <span><i class="material-icons">warning</i> Agotado</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="lang=='en'"> 
    <div [@flip] class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div (click)="lang = 'es'; $event.stopPropagation();" title="Español" class="top-right2">
          <img src="./assets/img/icons8-argentina-48.png" style="height: 30px; margin-top: -5px;margin-right: -6px;"/>
        </div>
        <img src="{{item.data.photoPF}}" (click)="open(item.data.name.en, item.data.photoPF); $event.stopPropagation()" class="card-icon-2 " style="width:70px; height: 70px;">
        <div class="card-body" [ngClass]="!item.data.status? 'disabled':'enabled'" >
          <p class="card-category">{{item.data.description.en}}</p>
          <h3 class="card-title">{{item.data.name.en}}</h3>
        </div>
      </div>
      <div class="card-footer" *ngIf="!item.data.status">
          <div class="stats">
              <span><i class="material-icons">warning</i> Unavailable</span>
          </div>
      </div>
  </div>
</div>