<div *ngIf="lang=='es'"> 
      <div [@flip] class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div (click)="lang = 'en'; $event.stopPropagation();" title="English" class="top-right2">
            <img alt="" src="./assets/img/icons8-usa-48.png" style="height: 30px; margin-top: -4px;margin-right: -6px;"/>
          </div>
          <img alt="" src="{{item.photoPF}}" (click)="open(item.name.es, item.photoPF); $event.stopPropagation();" 
          class="card-icon-2 " style="width:70px; height: 70px;">
          <div class="card-body" [ngClass]="!item.status? 'disabled':'enabled'" >
            <p class="card-category">{{item.description.es || 'Descripción'}}</p>
            <h3 class="card-title">{{item.name.es || 'Nombre'}}</h3>
          </div>
        </div>
        <div class="card-footer" *ngIf="!item.status">
            <div class="stats">
                <span><i class="material-icons">warning</i> Agotado</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="lang=='en'"> 
    <div [@flip] class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div (click)="lang = 'es'; $event.stopPropagation();" title="Español" class="top-right2">
          <img alt="" src="./assets/img/icons8-venezuela-48.png" style="height: 30px; margin-top: -5px;margin-right: -6px;"/>
        </div>
        <img alt="" src="{{item.photoPF}}" (click)="open(item.name.en, item.photoPF); $event.stopPropagation()" class="card-icon-2 " style="width:70px; height: 70px;">
        <div class="card-body" [ngClass]="!item.status? 'disabled':'enabled'" >
          <p class="card-category">{{item.description.en || 'Description'}}</p>
          <h3 class="card-title">{{item.name.en || 'Name'}}</h3>
        </div>
      </div>
      <div class="card-footer" *ngIf="!item.status">
          <div class="stats">
              <span><i class="material-icons">warning</i> Unavailable</span>
          </div>
      </div>
  </div>
</div>