<!-- es -->
<div *ngIf="lang=='es'">
    <div [@flip] class="card card-profile">
        <div class="image">
            <img src="{{item.data.photoBG}}" alt="..."/>
            <div (click)="lang = 'en'" title="English" class="top-right">EN</div>
        </div>
        <div class="card-avatar">
            <a href="javascript:void(0)" (click)="open(item.data.name.es, item.data.photoPF);">
                <img class="img" src="{{item.data.photoPF}}" />
            </a>
        </div>
        <div class="card-body">
            <h6 *ngIf="ref" class="card-category text-gray">{{item.data.ref}}</h6>
            <h4 class="card-title">{{iteam.data.nameEs}}</h4>
            <p class="card-description">
            {{iteam.data.descriptionEs}}
            </p> 
            <p class="text-danger" *ngIf="!item.data.status">Agotado</p>
            <a [ngClass]="!item.data.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">Ver</a>
        </div>
    </div>
</div>
<!-- es -->
<!-- en -->
<div *ngIf="lang=='en'">
    <div [@flip] class="card card-profile" >
        <div class="image">
        <img src="{{item.data.photoBG}}" alt="..."/>
        <div (click)="lang = 'es'" title="Español" class="top-right">ES</div>
        </div>
        <div class="card-avatar">
            <a href="javascript:void(0)" (click)="open(item.data.name.en, item.data.photoPF); ">
                <img class="img" src="{{item.data.photoPF}}" />
            </a>
        </div>
        
        <div class="card-body">
            <h6 *ngIf="ref" class="card-category text-gray">{{item.data.ref}}</h6>
            <h4 class="card-title">{{item.data.nameEn}}</h4>
            <p class="card-description">
            {{item.data.descriptionEn}}
            </p> 
            <p class="text-danger" *ngIf="!item.data.status">Unavailable</p>
            <a [ngClass]="!item.data.status? 'disabled':'enabled'" href="javascript:void(0)" class="btn btn-danger btn-round">View</a>
        </div>
    </div>
</div> 
<!-- en -->
