.menu{
    background-color: ghostwhite;
    /* max-height: 570px; */
    max-height: -moz-calc(100vh - 170px);
    max-height: -webkit-calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}
h6{
    float: right;
    right: 15px;
    position: absolute;
    cursor: pointer;
}
/* h4{
    width: 60%;
} */
.card-header{
    display: flex;
}
.card{
    background-color: ghostwhite;
}

.yellow{
    background: #f4eb60 !important;
}

.top{
    margin-top: -40px;
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
 }

 .float-right{
    position: absolute;
    top: 88%;
    left: 87%;
 }

 .float-left{
    position: absolute;
    top: 88%;
    right: 87%;
 }

 .badge{
    position: absolute;
    top: -4px;
    left: 28px;
    background-color: blue;
    color: white;
    border-radius: 60%;
 }