<div class="main-content">
    <div class="container-fluid top">
        <div class="row">
            <div *ngIf="menuTitle==''" class="col-md-6 mx-auto">
            <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                <div [@animate]="disable" class="card">
                    <div class="card-header card-header-brown">
                        <h4 class="card-title mt-0 text-yellow">Menú</h4>
                    </div>
                    <div class="card-body menu">
                        <app-menu-card-item-medium *ngFor="let menu of menus"
                        [lang]="lang" 
                        [item]="menu"
                        (click) = "showMenu(menu); $event.stopPropagation();"
                        ></app-menu-card-item-medium>
                    </div>
                    <button *ngIf="totalItemsCart>0" [routerLink]="['/cart']" class="float-right" mat-mini-fab color="warn"><i class="material-icons" >shopping_cart</i>
                        <span class="badge badge-light">{{totalItemsCart}}</span>
                    </button>

                </div>
            </div>

            <div *ngIf="menuTitle!=''" class="col-md-6 mx-auto">
                <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                    <div [@animate]="!disable" class="card">
                        <div class="card-header card-header-brown">
                            <h4 class="card-title mt-0 text-yellow">{{menuTitle}}</h4>
                            <h6 (click)="ngOnInit()" style="cursor: pointer; float: right; color: white; margin-top: -36px; margin-right: 0px;" 
                            title="Menú" 
                                class="">
                                <i style="position: relative; top: 4px;" class="material-icons" >restaurant_menu</i>
                                Menú
                            </h6>
                        </div>
                        <div class="card-body menu">
                            <app-dish-card-item-large  *ngFor="let dish of dishes"
                            [lang]="lang" 
                            [item]="dish"
                            (totalItems)="totalItems($event)"
                            (inCartItem)="inCartItem($event)"
                            ></app-dish-card-item-large>
                        </div>
                        <button [title]="lang=='es' ? 'Volver': 'Back'" (click)="ngOnInit(); $event.stopPropagation();" class="float-left" mat-mini-fab color="warn">
                            <i class="material-icons" >undo</i>
                        </button>
                        <button *ngIf="totalItemsCart>0" (click)="$event.stopPropagation();" [routerLink]="['/cart']" class="float-right" mat-mini-fab color="warn"><i class="material-icons" >shopping_cart</i>
                            <span class="badge badge-light">{{totalItemsCart}}</span>
                        </button>
                    </div>
                </div>

        </div>
    </div>
</div>
  