.menu{
    background-color: ghostwhite;
    max-height: 570px;
    overflow-y: auto;
}

.card{
    background-color: ghostwhite;
}

.yellow{
    background: #f4eb60 !important;
}

.top{
    margin-top: -40px;
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
 }

 .float-right{
    position: absolute;
    top: 88%;
    left: 87%;
 }

 .float-left{
    position: absolute;
    top: 88%;
    right: 87%;
 }

 .badge{
    position: absolute;
    top: -4px;
    left: 28px;
    background-color: blue;
    color: white;
    border-radius: 60%;
 }