<footer class="footer">
    <div class="container">
      <!-- <nav class="float-left">
        <ul> -->
          <!-- <li>
            <a href="https://github.com/quemao18/">
              ChacaitoBA
            </a>
          </li> -->
          <!-- <li>
            <a href="https://github.com/quemao18">
              About Us
            </a>
          </li>
          <li>
            <a href="https://github.com/quemao18">
              Licenses
            </a>
          </li> -->
        <!-- </ul>
      </nav> -->
      <div class="copyright float-right">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>{{date | date: 'YYYY'}}, made with <i class="material-icons">favorite</i> by
        <a href="https://github.com/quemao18" target="_blank">quemao18</a> for a better web.
      </div>
    </div>
  </footer>
