<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div [@animate] class="card card-plain">
                <div class="card-header card-header-brown">
                    <h4 class="card-title mt-0 text-yellow">Orders
                        <a (click)="ngOnInit();" class="link-white" title="Refresh" [routerLink]="">
                          <i class="material-icons" >refresh</i>
                        </a>
                    </h4>
                    <mat-form-field class="search2 card-title mt-0">
                      <input type="text" #queryString matInput class="search" placeholder="Search" >
                    </mat-form-field>  
                    <p class="card-category"> Last orders </p>
                </div>
              
                <div class="card-body">
                  <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                     <div style="min-height: 550px;" class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th class="text-center">
                                    <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/>
                                </th>
                                <th style="text-align: center;">OrderID</th>
                                <th style="text-align: center;">Date</th>
                                <th style="text-align: center;">Status</th>
                                <th style="text-align: center;">Table</th>
                                <th style="text-align: right;">Total</th>
                                <th style="text-align: center;">Actions</th>
                            </thead>
                            <tbody>
                                <tr (click)="openDialog(order)"  class="enabled" [@animate] *ngFor="let order of orders | filterOrder: {search: queryString.value} | paginate: config "> 
                                    <td (click)="$event.stopPropagation();"  class="text-center">
                                        <input type="checkbox" name="orders[]" [(ngModel)]="order.state" value="{{order.id}}"/>
                                    </td>
                                    <td style="text-align: center;">
                                        {{order.data.orderId}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{order.data.date | date: 'dd/MM/yy hh:mm aaa'}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{order.data.status}} 
                                    </td>
                                    <td style="text-align: center;">
                                        {{order.data.table ? order.data.table:'-'}} 
                                    </td>
                                    <td style="text-align: right;">
                                        {{order.total}}$ 
                                    </td>
                                    <td style="text-align: center;"> 
                                        <!-- <a (click)="changeStatus(menu.id, menu.data.status); $event.stopPropagation()" [routerLink]="" [title]="!menu.data.status ? 'Active' : 'Desactive'">
                                          <i class="material-icons">{{!menu.data.status ? 'check': 'power_settings_new'}}</i>
                                        </a> -->
                                        <!-- <a (click)="edit(menu.id); $event.stopPropagation()" title="Edit" [routerLink]=""><i class="material-icons" >edit</i></a> -->
                                        <a style="color: red;" (click)="delete(order.id, 1); $event.stopPropagation()" class="link-danger" title="Delete" [routerLink]=""><i class="material-icons" >delete</i></a>
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls style="text-align: center;" (pageChange)="pageChanged($event)"></pagination-controls>
                        <a *ngIf="(isAllChecked() || isAnyChecked()) && config.totalItems > 0" style="margin-left: 28px; text-transform: none; color: red;" (click)="deleteSelection(); $event.stopPropagation()" class="link-danger" title="Delete" [routerLink]=""><i class="material-icons" >delete</i> Eliminar selección</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



