.menu{
    background-color: ghostwhite;
    /* max-height: 570px; */
    max-height: -moz-calc(100vh - 170px);
    max-height: -webkit-calc(100vh - 170px);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
}

.card{
    background-color: ghostwhite;
    max-height: 570px;
}

.dish-card.card{
    height: 150px;
}

.top{
    margin-top: -40px;
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
 }

 .float{
    position: absolute;
    top: 90%;
    left: 85%;
 }

 .badge{
    position: absolute;
    top: -4px;
    left: 28px;
    background-color: blue;
    color: white;
    border-radius: 60%;
 }

 .card-title, .media-body h4{
    text-transform: uppercase;
    margin: 0px;
    font-size: medium;
}

.card-body{
    margin: 15px !important;
    padding: 0;
}

.disabled{
    cursor: not-allowed;
}

.enabled{
    cursor: pointer;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    font-weight: 600;
}