<div class="main-content">
    <div class="container-fluid top">
        <div class="row">

            <div [@.disabled]="disable" class="col-md-6 mx-auto">
                <ngx-spinner [fullScreen]="false" type="ball-scale-multiple" size="medium"></ngx-spinner>
                    <div [@animate] = "(dishes | async)" class="card" style="background-color: ghostwhite;">
                        <div class="card-header card-header-theme">
                            <h4 class="card-title mt-0">{{menuTitle}}</h4>
                        </div>
                        <div class="card-body menu">
                            <app-dish-card-item-large  *ngFor="let dish of dishes | async"
                            [lang]="lang" 
                            [item]="dish"
                            [menuTitle]="menuTitle"
                            (totalItems)="totalItems($event)"
                            (inCartItem)="inCartItem($event)"
                            ></app-dish-card-item-large>
                        </div>
                        <button [title]="lang=='es' ? 'Volver': 'Back'" (click)="back(); $event.stopPropagation();" class="float-left btn-theme" mat-mini-fab color="warn">
                            <i class="material-icons" >undo</i>
                        </button>
                        <button *ngIf="totalItemsCart>0" (click)="$event.stopPropagation();" [routerLink]="['/cart']" class="float-right btn-theme" mat-mini-fab color="warn"><i class="material-icons" >shopping_cart</i>
                            <span class="badge badge-light">{{totalItemsCart}}</span>
                        </button>
                    </div>
                </div>

        </div>
    </div>
</div>