<div class="main-content">
    <div class="container-fluid top">
        <div class="row">
            <div class="col-md-6 mx-auto" >
            <!-- <ngx-spinner [fullScreen]="false" type="ball-scale-multiple" size="medium"></ngx-spinner> -->
                <div [@animate] class="card">
                    <div class="card-header card-header-theme">
                        <h4 class="card-title mt-0 text-yellow">Mesas</h4>
                        <!-- <h4 *ngIf="qrResultString" class="card-title mt-0 text-yellow">Order: {{orderIdShort}}</h4> -->
                    </div>
                    <div class="card-body menu">
                        <div *ngIf="showScanner">
                            <h6 class="text-center">Escanee el código QR para la mesa <strong>{{table.data.name}}</strong></h6>
                            <zxing-scanner
                            [enable]="showScanner"
                            (scanSuccess)="onCodeResult($event, table)"
                            [(device)]="currentDevice"
                            (camerasFound)="onCamerasFound($event)"
                            (permissionResponse)="onHasPermission($event)"
                            ></zxing-scanner>
                            <ng-container *ngIf="hasPermission === undefined">
                                <h6>Waiting for permissions.</h6>
                                <blockquote>
                                  If your device does not has cameras, no permissions will be asked.
                                </blockquote>
                            </ng-container>
                            <ng-container *ngIf="hasPermission === false">
                                <h6>You denied the camera permission, we can't scan anything without it. 😪</h6>
                              </ng-container>
                              <!-- <ng-container *ngIf="hasDevices === undefined">
                                <h6>Couldn't check for devices.</h6>
                                <blockquote>
                                  This may be caused by some security error.
                                </blockquote>
                              </ng-container> -->
                              <!-- <ng-container *ngIf="hasDevices === false">
                                <h6>No devices were found.</h6>
                                <blockquote>
                                  I believe your device has no media devices attached to.
                                </blockquote>
                              </ng-container> -->
                            <hr>
                            <div class="text-center">
                                <input (click)="reset()" *ngIf="ordersTable == null" type="button" class="btn btn-danger btn-link btn-lg" value="Cancelar">
                                <input (click)="showScanner = false; showOrdersTable = true" *ngIf="ordersTable != null && newScan"  type="button" class="btn btn-danger btn-link btn-lg" value="Cancelar">
                            </div>
                        </div>
                        
                        <div *ngIf="showItems && items">
                            <h6>Mesa: {{table.data.name}}. Orden <span style="text-transform: none; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{orderIdShort}}</span></h6>
                            <app-card-item  *ngFor="let item of items"
                            [item]="item"
                            ></app-card-item>
                            <h6 *ngIf="details" class="text-center">Observaciones: {{details}}</h6>
                            <hr>
                            <div class="text-center">
                                <input (click)="changeStatus('Finished'); clearResult(); finish(); "  type="button" class="btn btn-danger btn-link btn-lg" value="Finalizar">
                                <input (click)="reset()"  *ngIf="ordersTable == null"   type="button" class="btn btn-danger btn-link btn-lg" value="Mesas">
                                <input (click)="getTable(table)" *ngIf="ordersTable"  type="button" class="btn btn-danger btn-link btn-lg" value="Volver">
                            </div>
                        </div>

                        <div *ngIf="showOrdersTable" class="card-body">
                            <h6>Órdenes en mesa {{table.data.name}}</h6>
                            <div style="max-height: 570px;" class="table-responsive">
                            <table class="table table-striped ">
                                <thead>
                                    <!-- <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr> -->
                                </thead>
                                <tbody>
                                    <tr class="enabled" (click)="showOrder(orderExist)" *ngFor="let orderExist of ordersTable; let i = index">
                                        <td><a>{{orderExist.orderId}}</a></td>
                                        <td>{{orderExist.date | date: 'hh:mm aaa'}}</td>
                                        <td>{{orderExist.status == 'Readed' ? 'En espera para cargar en comanda': ''}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="text-center" style="color: grey">Sólo se muestran las órdenes del día.</p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <input (click)="showScanner=!showScanner; showOrdersTable=false; newScan = true;"  type="button" class="btn btn-danger btn-link btn-lg" value="Escanear QR">
                                <input (click)="reset()"  type="button" class="btn btn-danger btn-link btn-lg" value="Mesas">
                            </div>
                        </div>

                        <div class="text-center" *ngIf="showTables">
                            <h6 class="text-center">Selecciona la mesa</h6>
                            <input 
                            style="width: 49%;"
                            *ngFor="let table of tables; let i = index"
                            [disabled]="!table.data.status"
                            [ngClass] = "!table.data.status ? 'disabled': 'enabled'"
                            [style.background-color] = "arrayTables[table.id] ? '#ffeb3b': ''"
                            (click)="getTable(table)"  type="button" class="btn btn-danger btn-link btn-lg" 
                            value="{{table.data.name}}">
                           
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

  