tr{
    cursor: pointer;
    background-color: white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: whitesmoke;
 }

 .table{
     border: lightgrey solid;
 }

 
.disabled{
    cursor: not-allowed;
    pointer-events: all !important;
}

.enabled{
    cursor: pointer;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
  }
  