<div class="container login-page">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
        <form class="form" [formGroup]="profileForm">
          <div class="card card-login card-hidden">
            <div class="card-header card-header-theme text-center">
              <h4 class="card-title">Reset Password</h4>
              <div class="social-line">
                <!-- <a href="#"  (click)="authService.facebookAuth()" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-facebook-square"></i>
                </a> -->
                <!-- <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-twitter"></i>
                </a> -->
                <!-- <a href="#" (click)="authService.googleAuth()" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-google"></i>
                </a> -->
              </div>
            </div>
            <div class="card-body ">
              <!-- <p class="card-description text-center">Or Be Classical</p> -->
              <span class="bmd-form-group">
                <div class="input-group">
                  <div class="input-group-prepend"> 
                    <span class="input-group-text">
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input formControlName="email" #userEmail type="email" class="form-control" placeholder="Email...">
                </div>
              </span>
              
            </div>
            <div class="card-footer justify-content-center">
              <input type="button" (click)="authService.forgotPassword(userEmail.value)" class="btn btn-danger btn-link btn-lg" value="Reset" [disabled]="!profileForm.valid">
              <input type="button" routerLink="/login" class="btn btn-danger btn-link btn-lg" value="Back">
            </div>
          </div>
        </form>
      </div>
</div>
