.card-title, .media-body h4{
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 10px;
}
.card{
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.card-body{
    margin-top: 5px !important;
    position: unset;
}

img{
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
}

.enabled{
    cursor: pointer;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    font-weight: 600;
}

/* Top right text */
.top-right2 {
    position: absolute;
    top: 4px;
    right: 0px;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    font-weight: 600;
}


.lang {
    position: absolute;
    /* top: 4px; */
    right: 5%;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    font-weight: 600;
}

.card-icon{
    background: linear-gradient(60deg, #fde401, #dbca2d) !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(45, 202, 219, 0.4);
}

.card-icon-2{
  border-radius: 3px;
  background-color: black;
  padding: 1px;
  margin-top: -20px;
  margin-right: 15px;
  float: left;
}

.card-category{
    padding-top: 10px;
}